<br/>
<div class="row-fluid">
    <div id="login-in" class="span4">


        <div class="back-login all-round">

            <form class="form">
                <div class="control-group">
                    <label class="control-label" for="username">Username</label>
                    <div class="controls">
                        <input type="text"   class="input-medium" id="username">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputPassword">Password</label>
                    <div class="controls">
                        <input type="password"  class="input-medium" id="inputPassword" >
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox"> Remember me
                        </label>
                        <button type="submit" class="btn">Sign in</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <%= link_to "My Blog", contacts_path %>
</div>




