
<div class="row-fluid">
    <div id="login-in" class="span3" align="center">



       </div>
      <div align="center">
    <form class="form-inline input-mini-up" >

        <input type="text" class="input-small" placeholder="Email">

        <input type="password" class="input-small" placeholder="Password">
        <button type="submit" class="btn btn-small">Log in</button>
        <br>
        <label class="checkbox">
            <input type="checkbox"> Remember me
        </label>

          </form>
          </div>

</div>
    <%= link_to "My Blog", contacts_path %>
</div>




