<div class="alert alert-info">
    <header class="jumbotron subhead" id="overview">


        <div class="row-fluid">
            <div class="span10">

                <div class="row-fluid">
                    <div class="span2"><%= link_to image_tag("small_mel.jpg") %>
                    </div>
                    <div class="span8"><h1>Contact Profiles</h1>

                        <p>"Attention and approval are a currency best spent wisely"</p></div>
                </div>
            </div>
        </div>


    </header>
</div>