<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Name Email Message Form</title>
    <style type="text/css" media="all">
        body  {background: orange; font: 100%/1.375 georgia, "times new roman", serif;}
        fieldset {border: 0; padding: 0; margin: 0;}
        legend {position: absolute; left:-9999px}
        input, textarea {font-size: 1em; width: 20em;font-family: arial; border: none;padding: 2px; background: rgba(255,255,255,0.5);}
        input[type="submit"] {width: 60px;}
        textarea {overflow: auto;}
    </style>
</head>

<body>
<div id="row">
    <div class="span6">
    <form method="post" action="">
        <fieldset>

            <legend>Contact Form</legend>
            <label for="name">Name</label><br>
            <input name="name" type="text" size="40" maxlength="60" id="name" value="" autofocus><br>

            <label for="email">Email Address</label><br>
            <input name="email" type="text" size="40" maxlength="60" id="email" value=""><br>

            <label for="comm">Comments</label><br>
            <textarea name="message" rows="10" cols="50" id="comm"></textarea><br>

            <input type="submit" name="submitted" value="Send">
        </fieldset>
    </form>
        </div>
</div>
</body>
</html>